@font-face {
  font-family: "Beleren";
  src: url("/fonts/beleren-b.ttf");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #636363 url("/livia-prima-path-to-eternities1080.jpg") no-repeat fixed center;
  background-size: cover;
  background-blend-mode: multiply;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  background-color: black;
}

#artist {
  align-self: flex-start;
  margin: 4px;
  margin-left: 16px;
  min-width: 140px;
}

#disclaimer {
  text-align: right;
  margin: 4px;
  margin-right: 24px;
}

h1 {
  font-family: "Beleren";
  font-size: 3.8em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.8em 1em;
  font-size: 1.8em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:enabled:hover {
  border-color: #646cff;
}
/*No cursor change on disabled buttons.*/
button:disabled:hover {
  cursor: default;
}
button:enabled:focus,
button:enabled:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.banner {
  background-color: rgba(15, 15, 15, 0.79);
  width: 100vw;
  min-height: 280px;
  margin: 140px 0 150px 0;
  display: flex;
  align-items: center;
}
.slots-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.slot-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 2px;
  animation: tv-on 0.6s ease-in-out;
}
.slot {
  width: 140px;
  height: 100px;
  overflow: hidden;
  margin: 20px 16px;
  border: 3px inset rgb(12, 12, 12);
  outline: 5px solid rgb(90, 90, 90);
  border-radius: 12px;
}
.dotmatrix {
  font-family: "Silkscreen", 'Lucida Sans Unicode', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: rgb(216, 85, 25);
}
.slot .slot-inner {
  width: 100%;
  height: auto;
}
.slot .slot-inner table td {
  width: 140px;
  height: 94px;
  background-color: #3d484d9f;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: rgb(102, 102, 102);
  margin: -2px;
}
.slot .slot-inner table td img {
  width: auto;
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

.loop .slot-inner {
  -webkit-animation: slide 6.5s infinite linear;
  -moz-animation: slide 6.5s infinite linear;
  animation: slide 6.5s infinite linear;
}
.loop.slot1 .slot-inner {
  animation-delay: -0.4s;
  animation-duration: 6s;
}
.loop.slot2 .slot-inner {
  animation-delay: -4s;
  animation-duration: 7s;
}
.loop.slot3 .slot-inner {
  animation-delay: -1.2s;
  animation-duration: 8.5s;
}
.loop.slot4 .slot-inner {
  animation-delay: -1.6s;
  animation-duration: 7.5s;
}
.loop.slot5 .slot-inner {
  animation-delay: -2.0s;
  animation-duration: 8s;
}
.loop.slot6 .slot-inner {
  animation-delay: -2.4s;
  animation-duration: 6.5s;
}

.stop .slot-inner {
  -webkit-animation: stop 2s normal forwards ease-out;
  -moz-animation: stop 2s normal forwards ease-out;
  animation: stop 2s normal forwards ease-out;
}

.display {
  width: 80px;
  height: 40px;
  margin: 10px;
  background-color: rgb(5, 5, 5);
  border: 4px inset rgb(36, 36, 36);
  outline: 5px solid rgb(90, 90, 90);
  border-radius: 8px;
}

.display p {
  margin-top: -5px;
  -webkit-animation: flicker 0.65s normal forwards linear;
  -moz-animation: flicker 0.65s normal forwards linear;
  animation: flicker 0.65s normal forwards linear;
}

.hidden {
  visibility: hidden;
  /*margin-top: -5%;
  margin-bottom: -5%;*/
  animation-play-state: paused;
  /*transform: scale(0);*/
}

p.hidden {
  visibility: hidden;
  animation-play-state: paused;
}

@-webkit-keyframes tv-on {
  0% {
    -webkit-transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
  }
}
@-moz-keyframes tv-on {
  0% {
    -moz-transform: scaleX(0);
  }
  100% {
    -moz-transform: scaleX(1);
  }
}
@keyframes tv-on {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateY(-99%);
  }
  100% {
    -webkit-transform: translateY(0px);
  }
}
@-moz-keyframes slide {
  0% {
    -moz-transform: translateY(-99%);
  }
  100% {
    -moz-transform: translateY(0px);
  }
}
@keyframes slide {
  0% {
    transform: translateY(-99%);
  }
  100% {
    transform: translateY(0px);
  }
}

@-webkit-keyframes stop {
  0% {
    -webkit-transform: translateY(-2100px);
  }
  90% {
    -webkit-transform: translateY(-528px);
  }
  94% {
    -webkit-transform: translateY(-504px);
  }
  97% {
    -webkit-transform: translateY(-520px);
  }
  100% {
    -webkit-transform: translateY(-512px);
  }
}
@-moz-keyframes stop {
  0% {
    -moz-transform: translateY(-2100px);
  }
  90% {
    -moz-transform: translateY(-528px);
  }
  94% {
    -moz-transform: translateY(-504px);
  }
  97% {
    -moz-transform: translateY(-520px);
  }
  100% {
    -moz-transform: translateY(-512px);
  }
}
@keyframes stop {
  0% {
    transform: translateY(-2100px);
  }
  90% {
    transform: translateY(-528px);
  }
  94% {
    transform: translateY(-504px);
  }
  97% {
    transform: translateY(-520px);
  }
  100% {
    transform: translateY(-512px);
  }
}

@-webkit-keyframes flicker {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  22% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flicker {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  22% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flicker {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  22% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}