@font-face {
  font-family: "Beleren";
  src: url("public/fonts/beleren-b.ttf");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #636363 url("livia-prima-path-to-eternities1080.jpg") no-repeat fixed center;
  background-size: cover;
  background-blend-mode: multiply;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: "Beleren";
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:enabled:hover {
  border-color: #646cff;
}
button:disabled:hover {
  cursor: default;
}
button:enabled:focus,
button:enabled:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button.round {
  display: block;
  margin: auto;
  border-radius: 50%;
  width: 20px;
  height: 40px;
  background-color: rgba(87, 48, 34, 0.75);
  border: 2px outset rgba(77, 36, 21, 0.65);
}

button.round:enabled {
  background-color: rgba(241, 117, 60, 0.85);
  border: 2px outset rgba(145, 76, 51, 0.65);
  -webkit-box-shadow:0px 0px 15px 4px rgba(226, 157, 9, 0.85);
  -moz-box-shadow: 0px 0px 15px 4px rgba(226, 157, 9, 0.85);
  box-shadow: 0px 0px 15px 4px rgba(226, 157, 9, 0.85);
}
button.round:enabled:hover {
  background-color: rgba(247, 132, 55, 0.85);
  -webkit-box-shadow:0px 0px 18px 6px rgba(226, 168, 9, 0.9);
  -moz-box-shadow: 0px 0px 18px 6px rgba(226, 168, 9, 0.9);
  box-shadow: 0px 0px 18px 6px rgba(226, 168, 9, 0.9);
}
button.round:enabled:active {
  background-color: rgba(224, 110, 57, 0.85);
  border: 2px inset rgba(145, 76, 51, 0.65);
  -webkit-box-shadow:0px 0px 15px 4px rgba(226, 157, 9, 0.85);
  -moz-box-shadow: 0px 0px 15px 4px rgba(226, 157, 9, 0.85);
  box-shadow: 0px 0px 15px 4px rgba(226, 157, 9, 0.85);
}

footer {
  position: fixed;
  bottom: 10px;
  left: 12px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.slot-main {
  display: block;
  position: relative;
  background-color: #0f0f0faa;
  width: 100vw;
  height: 240px;
  margin: 140px 0 150px 0;
  animation: tv-on 0.6s ease-in-out;
  transition: margin 0.6s ease-in-out;
}

.slots {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
}

.slots div {
  display: inline-block;
}

.slot {
  height: 100px;
  width: 140px;
  overflow: hidden;
  margin: 20px 16px;
  border: 3px solid black;
  outline: 5px solid rgba(240, 139, 6, 0.863);
  border-radius: 12px;
  background-color: #1a1a1a;
}
.slot .slot-inner {
  display: block;
  height: auto;
  width: 100%;
  /*background-image: url("public/speed-lines.png");
  background-position: 0 0;
  background-size: 120px 800px;*/
}
.slot .slot-inner table td {
  width: 140px;
  height: 100px;
}
.slot .slot-inner table td img {
  width: auto;
  height: 100%;
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}
.loop .slot-inner {
  -webkit-animation: slide 13s infinite linear;
  -moz-animation: slide 13s infinite linear;
  animation: slide 13s infinite linear;
}
.loop2 .slot-inner {
  animation-delay: -0.4s;
  animation-duration: 12s;
}
.loop3 .slot-inner {
  animation-delay: -4s;
  animation-duration: 14s;
}
.loop4 .slot-inner {
  animation-delay: -1.2s;
  animation-duration: 17s;
}
.loop5 .slot-inner {
  animation-delay: -1.6s;
  animation-duration: 15s;
}
.loop6 .slot-inner {
  animation-delay: -2.0s;
  animation-duration: 16s;
}
.loop7 .slot-inner {
  animation-delay: -2.4s;
  animation-duration: 13s;
}

.stop .slot-inner {
  -webkit-animation: stop 0.5s normal forwards ease-in-out;
  -moz-animation: stop 0.5s normal forwards ease-in-out;
  animation: stop 0.5s normal linear;
  animation-iteration-count: 1;
}

.hidden {
  visibility: hidden;
  margin: -100px;
  animation-play-state: paused;
}

@-webkit-keyframes tv-on {
  0% {
    -webkit-transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}

@-moz-keyframes tv-on {
  0% {
    -moz-transform: scaleY(0);
  }
  100% {
    -moz-transform: scaleY(1);
  }
}

@keyframes tv-on {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@-webkit-keyframes slide {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-99%);
  }
}
@-webkit-keyframes stop {
  0% {
    transform: translateY(110px);
  }
  100% {
    transform: translateY(55px);
  }
}